<div class="weather-info">
  <div class="front">
    <h1> {{ city }} </h1>
    <p>Min. Temp = > {{ temp_min }}</p>
    <p>Max. Temp = > {{ temp_max }}</p>
    <p>Pressure = > {{ pressure }}</p>
    <p>Humidity = > {{ humidity }}</p>
    <p>Speed = > {{ speed }}</p>
  </div>
  <div class="back">
    <p>Thank You !!!!!</p>
  </div>
</div>
